<div class="container">

    <br>

    <div class="row" ng-if="featureOffer">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div>
                <h2>{{featureOffer.headline}}</h2>
                <p>{{featureOffer.description}}</p>
                <p class="cruise-from">From</p>
                <p><span class="price">{{featureOffer.startingPrice | currency }}</span> <span>for two</span> <span class="savings">Save 33%</span></p>
                <p class="cruise-date">{{featureOffer.startDate | date}} to {{featureOffer.endDate | date}}</p>
                <p><a class="btn btn-primary" href="#!/getTripQuote?tripId={{featureOffer.id}}" role="button">Get a Quote</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <img class="img-responsive img-margin img-fill" ng-src="{{featureOffer.thumbnail}}">
        </div>
    </div>

    <div class="row" ng-if="featureOffer">
        <div class="col-sm-offset-4 col-sm-2">
            <div class="trip-price-left">
                <p>Interior Room</p>
                <p>$3,449</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="trip-price-middle">
                <p>Seaside Room</p>
                <p>$4,549</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="trip-price-middle">
                <p>Seaside Balcony</p>
                <p>$5,549</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="trip-price-right">
                <p>Seaside Suite</p>
                <p>$7,549</p>
            </div>
        </div>
    </div>

    <div class="row" ng-if="featureOffer">
        <div class="col-sm-4">
            <div class="trip-price-left">
                <h3>Ports of Call</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Port</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Anchorage</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Tunguska Forest</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Macendhall Glacier</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Tracy Arm</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Anchorage</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-margin img-fill" src="http://dummyimage.com/400x400/cccccc/888888.png">
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-margin img-fill" src="http://dummyimage.com/400x400/cccccc/888888.png">
        </div>
    </div>

    <div class="row" ng-if="featureOffer">
        <div class="col-sm-4">
            <div>
                <h3>Your ship</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim vulputate tortor ut elementum. Duis sit amet quam sagittis, dictum ex quis, lobortis tortor.
                </p>
            </div>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive img-margin img-fill" src="http://dummyimage.com/600x300/cccccc/888888.png">
        </div>
    </div>

</div>
