/* app css stylesheet */

body {
  padding-top: 50px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.img-fill {
  width: 100%;
}

.img-margin {
  margin-top: 20px;
  margin-bottom: 10px;
}

.thumbnail-container {
  position: relative;
}

.thumbnail-image {
  cursor: pointer;
}

.thumbnail-text {
  z-index: 100;
  position: absolute;
  top: 0px;
  padding:10px;
  cursor: pointer;
}

.search-div {
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: lightsteelblue;
  background-clip: padding-box;
}

.search-div > h2 {
  margin-top: 0px;
}

.footer {
  margin-top: 20px;
  background-color: lightsteelblue;
}

.footer-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-column {
  padding-left: 15px;
}

.wizard-heading {
  margin-top: 30px;
  margin-bottom: 20px;
}

.trip-price-left {
}

.trip-price-middle > p {
  text-align: center;
}

.trip-price-right > p {
  text-align: right;
}

#purchase-trip-room-radio {
  margin-top: 20px;
}