<div class="container">

    <br>

    <div class="row">
        <div class="col-md-8 thumbnail-container standard-cell">
            <img class="img-responsive img-margin img-fill" src="http://dummyimage.com/600x300/cccccc/888888.png">
            <div class="thumbnail-text">
                <h2>Drift Away</h2>
                <p>With cruises in every major destination around the world, you're just minutes away from a dream vacation.</p>
            </div>
        </div>
        <div class="col-md-4">
            <search-view search="search" on-find-cruises="findCruises(search)"/>
        </div>
    </div>

    <br>

    <div class="row standard-cell" ng-if="featureOffer">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>{{featureOffer.headline}}</h2>
            <p>{{featureOffer.description}}</p>
            <p class="cruise-from">From</p>
            <p><span>{{featureOffer.startingPrice}}</span> <span>for two</span> <span>Save 33%</span></p>
            <p class="cruise-date">{{featureOffer.startDate}} to {{featureOffer.endDate}}</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <img class="img-responsive img-margin img-fill" ng-src="{{featureOffer.thumbnail}}">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-8">
            <h2>Destinations</h2>
            <div class="row">
                <div class="col-sm-6 col-lg-4 thumbnail-container standard-cell" ng-repeat="destination in destinations">
                    <img class="img-responsive img-margin img-fill" ng-src="{{destination.thumbnail}}"
                        ng-click="showDestination(destination)">
                    <div class="thumbnail-text">
                        <h3>{{destination.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Special Offers</h2>
            <div class="row">
                <div class="col-xs-12" ng-repeat="offer in secondaryOffers">
                    <h3>{{offer.headline}}</h3>
                    <p>{{offer.description}}</p>
                    <p class="cruise-from">From</p>
                    <p><span>{{offer.startingPrice}}</span> <span>for two</span> <span>Save 33%</span></p>
                    <p class="cruise-date">{{offer.startDate}} to {{offer.endDate}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>Life on Board</h2>
            <div class="row">
                <div class="col-sm-6 col-lg-4 thumbnail-container standard-cell" ng-repeat="topic in lifeOnboardTopics">
                    <img class="img-responsive img-margin img-fill" ng-src="{{topic.thumbnail}}">
                    <div class="thumbnail-text">
                        <h3>{{topic.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Testimonials</h2>
            <h3>Cruise Lover</h3>
            <p>My husband and I had a fantastic time on our cruise.  The food was amazing, and every day...</p>
            <p><a class="btn btn-default" href="#" role="button">Read more</a></p>
        </div>
    </div>

</div>


