<div class="container">

    <br>

    <div class="row">
        <div class="col-md-8 thumbnail-container">
            <img class="img-responsive img-margin img-fill" src="http://dummyimage.com/600x300/cccccc/888888.png">
            <div class="thumbnail-text">
                <h2>Drift Away</h2>
                <p>With cruises in every major destination around the world, you're just minutes away from a dream vacation.</p>
            </div>
        </div>
        <div class="col-md-4">
            <search-view search="search" on-find-cruises="findCruises(search)"/>
        </div>
    </div>

    <br>

    <div class="row" ng-if="featureOffer">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div>
                <a href="#!/trip?tripId={{featureOffer.id}}">
                    <h2>{{featureOffer.headline}}</h2>
                </a>
                <p>{{featureOffer.description}}</p>
                <p class="cruise-from">From</p>
                <p><span class="price">{{featureOffer.startingPrice | currency }}</span> <span>for two</span> <span class="savings">Save 33%</span></p>
                <p class="cruise-date">{{featureOffer.startDate | date}} to {{featureOffer.endDate | date}}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <img class="img-responsive img-margin img-fill" ng-src="{{featureOffer.thumbnail}}">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-8">
            <h2>Destinations</h2>
            <div class="row">
                <div class="col-sm-6 col-lg-4 thumbnail-container" ng-repeat="destination in destinations"
                     ng-click="showDestination(destination)">
                    <img class="img-responsive img-margin img-fill thumbnail-image" ng-src="{{destination.thumbnail}}">
                    <div class="thumbnail-text">
                        <h3>{{destination.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Special Offers</h2>
            <div class="row">
                <div class="col-xs-12" ng-repeat="offer in secondaryOffers">
                    <a href="#!/trip?tripId={{offer.id}}">
                        <h3>{{offer.headline}}</h3>
                    </a>
                    <p>{{offer.description}}</p>
                    <p class="cruise-from">From</p>
                    <p><span class="price">{{offer.startingPrice | currency }}</span> <span>for two</span> <span class="savings">Save 33%</span></p>
                    <p class="cruise-date">{{offer.startDate | date }} to {{offer.endDate | date }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>Life on Board</h2>
            <div class="row">
                <div class="col-sm-6 col-lg-4 thumbnail-container" ng-repeat="topic in lifeOnboardTopics"
                     ng-click="showLifeOnBoardTopic(topic)">
                    <img class="img-responsive img-margin img-fill thumbnail-image" ng-src="{{topic.thumbnail}}">
                    <div class="thumbnail-text">
                        <h3>{{topic.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Testimonials</h2>
            <h3>Cruise Lover</h3>
            <p>My husband and I had a fantastic time on our cruise.  The food was amazing, and every day...</p>
            <p><a class="btn btn-default" href="#!/viewIncomplete" role="button">Read more</a></p>
        </div>
    </div>

</div>


