<div class="container">

    <br>

    <div class="row">
        <div class="col-md-4">
            <search-view search="search" on-find-cruises="findCruises(search)"/>
        </div>
        <div class="col-md-8">
            <div class="row" ng-repeat="trip in trips">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#!/viewIncomplete">
                        <h3>{{trip.headline}}</h3>
                    </a>
                    <p>{{trip.description}}</p>
                    <p class="cruise-from">From</p>
                    <p><span>{{trip.startingPrice}}</span> <span>for two</span> <span>Save 33%</span></p>
                    <p class="cruise-date">{{trip.startDate}} to {{trip.endDate}}</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <img class="img-responsive img-margin img-fill" ng-src="{{trip.thumbnail}}">
                </div>
            </div>
        </div>
    </div>

</div>


